.container{
    width: 945px;
    margin: 0 auto;
}

/* header section */
.header-section{
    padding-top: 44px;
    height: 83px;
    display: flex;
    align-items: center;
}
.header-title{
    font-family: 'Bilbo Swash Caps';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 1.3px; 
    color: #FED136;
}
.header-list{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 480px;
}
.header-link{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 2.93;
    text-transform: uppercase;
    color: #FED136;
    transition: 0.2s;
}
.header-link:hover{
    color: #c1a029;
    padding-bottom: 10px;
    border-bottom: 2px solid #c1a029;
    transition: 0.2s;
}

/* services section */
.services-section{
    padding: 110px 0 120px;
}
.services-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.88;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;
    color: #222222;
}
.services-list{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.services-item{
    width: 274px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services-img{
    width: 70px;
    height: 69px;
    display: block;
    margin: 0 auto;
}
.services-name{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 4.17;
    text-align: center;
    letter-spacing: -0.45px;
    color: #222222;
}
.services-text{
    font-family: 'RobotoSlab';
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: -0.35px;
    color: #777777;
}

/* contacts section */
.contacts-section{
    background-color: #222222;
    padding: 92px 0 115px;
}
.contacts-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.22;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.contacts-form{
    margin-top: 115px;
}
.contacts-container{
    display: flex;
    justify-content: space-between;
}
.contacts-list{
    width: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts-item:nth-child(n+2){
    margin-top: 28px;
}
.contacts-field{
    width: 455px;
    height: 50px;
    padding: 12px 0 21px 20px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.35px;
    text-transform: uppercase;  
    color: #BBBBBB;
    display: block;
}
.contacts-message{
    width: 458px;
    height: 212px;
    resize: none;
}
.contacts-button{
    width: 242px;
    height: 68px;
    background: #FED136;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    margin: 29px auto 0;
    transition: 0.2s;
}
.contacts-button:hover{
    background-color: #b5972a;
    transform: translateY(10px);
    box-shadow: 0px -10px 5px 0px rgba(0,0,0,0.75);
    transition: 0.2s;
}